<div class="question">
  <div class="question-content">

    <div class="question-title">
      <div class="question-text text-lead">
        <%= text_with_hashtag_link(question.text) %>
      </div>

      <% if question.author.present? %>
        <div class="question-author">
          <div class="question-author-username">
            <%= link_to "@#{question.author.username}", user_path(question.author) %>
          </div>
          <div class="question-author-image">
            <%= image_tag user_avatar(question.author), class: 'user-image' %>
          </div>
        </div>
      <% end %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= text_with_hashtag_link(question.answer) %>
      </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>
