<div class="question">
  <div class="question-content">

    <div class="question-title">
      <div class="question-text text-lead">
        <%= question.text %>
      </div>

      <% if author_by_id(question.author_id) %>
        <div class="question-author">
          <div class="question-author-username">
            <%= link_to "@#{author_by_id(question.author_id).username}", user_path(author_by_id(question.author_id)) %>
          </div>
          <div class="question-author-image">
            <%= image_tag user_avatar(author_by_id(question.author_id)), class: 'user-image' %>
          </div>
        </div>
      <% end %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= question.answer %>
      </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>