<%# Блок с информацией о пользователей %>
<%= content_tag(:div, class: "user-header text-center",
                style: "background-color: #{user_profile_background(@user)}") do %>
  <h1 class="title-medium">
    <%= @user.name %>
  </h1>

  <div class = "buffer-both">
    <%= link_to 'Редактировать профиль', edit_user_path(@user) if current_user == @user %>
  </div>

  <div class="user-image-div">
    <%= image_tag user_avatar(@user), class: 'user-image', alt: '[Фото]' %>
  </div>

  <h2 class="title-small buffer-both">
    @<%= @user.username %>
  </h2>

  <div class="user-ask-button container text-center">
    <%= link_to "Спроси меня", '', class: 'button button-light', id: 'ask-button' %>
  </div>
<% end %>>

<%# Блок с формой для задавания пользователю вопроса %>
<div class="user-question-form-div column-1-4 column-1-4-right" id='ask-form'>
  <div class="user-question-form buffer-both">
    <div class="form">
      <%= form_for @new_question do |f| %>
        <%= f.hidden_field :user_id %>

        <div class="form-field">
          <%= f.label "Ваш вопрос для @#{@user.username}", class: 'form-label' %>
          <%= f.text_area :text, class: 'form-textarea' %>
        </div>

        <div class="form-action">
          <%= submit_tag 'Задать вопрос', class: 'button button-small button-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# Блок количества всех/отвеченных вопросов %>
<div class="column-3-4">
  <div class="questions-block-background">
    <div class="questions-block buffer-both">
      <div class="questions-all">
        <%= image_tag asset_path 'all_questions.png', alt: '[Все вопросы]' %>
        <div class="text-lead questions-block-text">
          Задано <%= @questions.count %>
          <%= declination_of_word(
                  @questions.count, "вопрос", "вопроса", "вопросов") %>
        </div>
      </div>
      <div class="questions-complite">
        <%= image_tag asset_path 'complite_questions.png', alt: '[Отвеченные вопросы]' %>
        <div class="text-lead questions-block-text">
          <% if @questions_count == @questions_complite %>
            Нет неотвеченных вопросов
          <% else %>
            Отвечено на <%= @questions_complite%>
            <%= declination_of_word(
                    @questions_complite, "вопрос", "вопроса", "вопросов") %>
            из <%= @questions_count %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Блок со списком вопросов к пользователю %>
<div class="column-3-4">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>