<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Askme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="header-logo">
          <h1 class="header-title"><%= link_to "Вопросы", root_path %></h1>
        </div>

        <div class="header-nav">
          <% if current_user %>
            <%= link_to "@#{current_user.username}", user_path(current_user) %>
            <%= link_to 'Выйти', log_out_path %>
          <% else  %>
            <%= link_to 'Зарегестрироваться', sign_up_path, class: 'button button-light button-small' %>
            <%= link_to 'Войти', log_in_path, class: 'button button-light button-small'  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">

        <% if flash.any? %>
          <div class="content-wrapper buffer-both">
            <% flash.each do |name, message| %>
              <%= content_tag :div, message, class: "flash-#{name}" %>
            <% end %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>

  </body>
</html>
